NOTION_TOKEN=
NOTION_TODAY_DB_ID=
NOTION_WEEK_DB_ID=
NOTION_DEFAULT_PAGE_ID=
DINGTALK_WEBHOOK=
DINGTALK_SECRET=

# Calendar sync
ICS_OUTPUT_PATH=
ICS_FILE_NAME=calendar.ics
ICS_AUTO_PUSH_GIT=false
ICS_GIT_COMMIT_MSG=Update calendar from Notion
CALENDAR_SERVER_PORT=33189

# Schedule (cron 格式)
REPORT_CRON_MINUTE=0,30
REPORT_CRON_HOUR=10-22
TZ=Asia/Shanghai
